<!DOCTYPE html>
<html>
<body>
{% block stylesheets %}
<link href="{{ asset('bundles/css/firstpage.css') }}" rel="stylesheet" />
{% endblock %}
<h1>{{title}}</h1>
{{ form_start(form) }}
<div class="grp">
        {{ form_widget(form.save) }}
        
</div>


{{ form_end(form) }}
<p>Email and Url</p>
{% for result in results %}
{{ result.getEmail() }} <br>{{ result.getUrl() }}
<br> <br>
{% endfor %}
</body>
</html>
